trigger:
  branches:
    include:
      - master

pool:
  vmImage: 'ubuntu-latest'

variables:
  siteOutput: '_site'

steps:
- checkout: self
  submodules: false

- task: UseDotNet@2
  displayName: 'Use .NET 8 SDK'
  inputs:
    packageType: 'sdk'
    version: '8.x'

- script: |
    dotnet tool update -g docfx
    echo "##vso[task.setvariable variable=PATH]$HOME/.dotnet/tools:$(PATH)"
  displayName: 'Install DocFX CLI'

# Build DocFX from docs/ but emit to repo-root/_site
# (set "build": { "dest": "../_site" } in docs/docfx.json)
- script: |
    docfx metadata
    docfx build
  displayName: 'docfx metadata + build'
  workingDirectory: docs

- task: PublishBuildArtifacts@1
  displayName: 'Publish _site as artifact'
  inputs:
    PathtoPublish: '$(siteOutput)'
    ArtifactName: 'docfx_site'
    publishLocation: 'Container'