trigger:
  branches:
    include:
      - master

pr:
  branches:
    include:
      - master

pool:
  vmImage: 'ubuntu-latest'

variables:
  buildConfiguration: 'Release'
  siteOutput: '_site'

stages:
  - stage: Build
    displayName: Build DocFX
    jobs:
      - job: build_docfx
        displayName: Build DocFX site
        steps:
          - checkout: self
            submodules: false

          - task: UseDotNet@2
            displayName: 'Use .NET 8 SDK'
            inputs:
              packageType: 'sdk'
              version: '8.x'

          - script: |
              dotnet tool update -g docfx || dotnet tool install -g docfx
              echo "##vso[task.setvariable variable=PATH]$HOME/.dotnet/tools:$(PATH)"
            displayName: 'Install DocFX CLI'

          - script: |
              docfx metadata
              docfx build
            displayName: 'docfx metadata + build'

          - task: PublishBuildArtifacts@1
            displayName: 'Publish _site as artifact'
            inputs:
              PathtoPublish: '$(siteOutput)'
              ArtifactName: 'docfx_site'
              publishLocation: 'Container'
